__pycache__/
*.py[cod]
*$py.class

.venv/

.vscode/

.idea/

build/
dist/
*.egg-info/

*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml


.mypy_cache/
.dmypy.json
.pyre/
.pytype/

.env
.env.*

*.log
docker-compose.override.yml

alembic.ini

.DS_Store
Thumbs.db

*.log
logs/

tasks.db
